
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: 
  #d7f9c7;

}
@media screen and(max-width:768px){
  .main{
    flex-direction: column;
  }
  .right{
    flex: 1;
  }
  .left{
    min-height: unset;
    flex: 1;
    margin: 0 auto;
  }
  .filters{
    flex-direction: column;
  }
}

.custom-modal .modal-content {
  background-color: #bacd92ce;
  color:black;
  border: none;
  box-shadow: none;
}

